<div class="flags disabled">
        <span class="flag" ng-repeat="flag in vm.flags">
            <img ng-src="{{flag.flag}}" image-on-load>
        </span>
</div>
<div class="overlay" ng-class="{'disabled' : vm.loading}">
    <button class="autoplay-button" ng-if="!vm.autoPlayRun" ng-click="vm.autoPlay()">&#9654;</button>
    <div class="random-flag"
         ng-init="vm.randomizeFlag()"
         ng-class="{'answer': vm.showAnswer}"
         ng-click="vm.toggleShowAnswer()">
        <img ng-src="{{vm.randomFlag.flag}}" image-on-load>
        <div class="random-flag_name" ng-bind="vm.randomFlag.name"></div>
        <div class="random-flag_capital" ng-bind="vm.randomFlag.capital"></div>
        <button class="continue-button" ng-click="vm.autoPlayRun = false;vm.randomizeFlag()">Continue</button>
    </div>
</div>
<div class="loading" ng-class="{'disabled' : !vm.loading}">
    <div class="loading-wheel"></div>
</div>