html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: #294A67;
	text-align: center;
	overflow: hidden;

	.flags {
		font-size: 0;
		position: relative;

		@for $i from 0 to 200 {
			.flag:nth-child(#{$i}) img {
				transition: all ease-in-out #{$i * 0.02}s;
			}
		}

		.flag {
			display: inline-block;
			position: relative;
			width: 10vw;
			max-height: 96px;
			overflow: hidden;

			img {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				height: 100%;
				opacity: 0;
				transform: translateY(-100%);

				&.loaded {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}

	.overlay {
		height: 100%;
		display: table;
		width: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(20, 20, 20, 0.8);
		z-index: 1;

		.autoplay-button {
			display: inline-block;
			font-family: Calibri, Verdana;
			outline: none;
			border: none;
			box-shadow: 2px 2px 0 black;
			color: white;
			padding: 1vh 1vw;
			border-radius: 0 0 50% 0;
			cursor: pointer;
			transform: translate(0);
			transition: all ease-in-out .3s;
			font-size: 2vw;
			background: forestgreen;
			position: fixed;
			top: -5px;
			left: -5px;
			margin: 0;

			&:hover, &:focus, &:active {
				transition: all ease-in-out .1s;
				box-shadow: 2px 2px 2px white;
				transform: translate(-2px, -2px);
			}

			&:active {
				background: beige;
				color: forestgreen;
				transform: translate(2px, 2px);
			}
		}

		.random-flag {
			display: table-cell;
			vertical-align: middle;

			img {
				transition: all ease-in-out 1s;
				width: 70vw;
				max-width: 700px;
				max-height: 50vh;
				opacity: 0;
				transform: translateY(-100%);

				&.loaded {
					opacity: 1;
					transform: translateY(0);
				}
			}

			&.answer {
				img {
					transition: all ease-in-out .3s;
					max-width: 600px;
				}
				.random-flag_name {
					transition: all ease-in-out .3s;
					font-size: 6vw;
					opacity: 1;
				}
				.random-flag_capital {
					transition: all ease-in-out .3s;
					font-size: 4vw;
					opacity: 1;
				}
				.continue-button {
					transition: all ease-in-out .3s;
					font-size: 2vw;
					opacity: 1;
				}
			}
		}

		.random-flag_name {
			opacity: 0;
			color: white;
			font-size: 0;
			font-family: Calibri, Verdana;
			padding-top: 5vh;
		}

		.random-flag_capital {
			@extend .random-flag_name;
			font-size: 0;
			font-style: italic;
			padding: 0 0 5vh;
		}

		.continue-button {
			display: inline-block;
			font-family: Calibri, Verdana;
			font-size: 0;
			outline: none;
			border: none;
			box-shadow: 2px 2px 0 black;
			background: rebeccapurple;
			color: white;
			padding: 1vh 1vw;
			border-radius: 10px;
			cursor: pointer;
			transform: translate(0);
			opacity: 0;
			margin: 0 20px;

			&:hover, &:focus, &:active {
				transition: all ease-in-out .1s;
				box-shadow: 2px 2px 2px white;
				transform: translate(-2px, -2px);
			}

			&:active {
				background: beige;
				color: rebeccapurple;
				transform: translate(2px, 2px);
			}
		}
	}

	.loading {
		transition: all ease-in-out .3s;
		display: block;
		text-align: center;
		background: transparent;
		position: fixed;
		line-height: 100vh;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;

		&:not(.disabled) {
			background: radial-gradient(black 50%, transparent);
			z-index: 2;

			.loading-wheel {
				display: inline-block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: solid 3px transparent;
				border-left-color: white;
				animation: rotate 1s infinite;
			}

			@keyframes rotate {
				from {
					transform: rotate(0deg);
				}
				to {

					transform: rotate(360deg);
				}
			}
		}
	}
}